<?xml version="1.0"?>
<library path="src">
	<class name ="overview_plugin" type="rqt_arni_gui_overview.arni_gui_overview.ArniGuiOverview" base_class_type="rqt_gui_py::Plugin">
		<description>
			The ArniGuiOverview-Plugin provides general information about the network.
		</description>
		<qtgui>
			<group>
				<label>Introspection</label>
				<statustip>Plugins related to introspection</statustip>
			</group>
			<label>Arni-Overview</label>
			<icon type="theme">utilities-system-monitor</icon>
			<statustip>A Python GUI plugin to provide general information about the ROS-Network.</statustip>
		</qtgui>
	</class>
</library>
