<?xml version="1.0"?>
<library path="src">
	<class name ="overview_plugin" type="rqt_arni_gui_overview.arni_gui_overview.ArniGuiOverview" base_class_type="rqt_gui_py::Plugin">
		<description>
			TODO
		</description>
		<qtgui>
			<group>
				<label>Introspection</label>
				<statustip>Plugins related to introspection</statustip>
			</group>
			<label>arni_gui_overview</label>
			
			<statustip>TODO</statustip>
		</qtgui>
	</class>
</library>
