<?xml version="1.0"?>
<library path="src">
	<class name ="arni_gui_detail" type="rqt_arni_gui_detail.arni_gui_detail.ArniGuiDetail" base_class_type="rqt_gui_py::Plugin">
		<description>
			The ArniGuiDetail-Plugin gives detailed information about actual connected hosts/nodes/topics/connections.
		</description>
		<qtgui>
			<group>
				<label>Introspection</label>
				<statustip>Plugins related to introspection</statustip>
			</group>
			<label>Arni-Detail</label>
			<icon type="theme">utilities-system-monitor</icon>
			<statustip>A Python GUI plugin which provides information about actual connected hosts/nodes/topics/connections.</statustip>
		</qtgui>
	</class>
</library>
